@model IEnumerable<Identity.Services.Models.ApplicationUser>
@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<br />

<div class="p-4 border rounded bg-white">
    <div class="row">
        <div class="col-6">
            <h2 class="text-primary">List User In System</h2>
        </div>
    </div>
    <div class="col-6">
        <form class="form-inline my-2 my-lg-0 float-right">
            <input id="myInput" class="form-control mr-sm-2" type="text" placeholder="Search">
        </form>
    </div>
    <br />
    <br>
    <table class="table table-bordered">
        <thead>
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Role</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody id="tblData">
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.LastName @item.FirstName</td>
                <td>@item.Email</td>
                <td>@item.Role</td>
                <td>
                    <a asp-controller="Account" asp-action="Edit" asp-route-id="@item.Id" class="btn btn-default btn-info">Edit</a>
                    <a asp-controller="Account" asp-action="ConfirmDelete" asp-route-id="@item.Id" class="btn btn-default btn-danger">Delete</a>
                    <a asp-controller="Account" asp-action="ForgotPassword" asp-route-id="@item.Id" class="btn btn-default btn-warning">Reset</a>
                </td>
            </tr>
        }
        </tbody>
    </table>
</div>

@section Scripts{
    <script src="~/js/site.js"></script>
}
